* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, Tahoma, sans-serif;
}

body {
  background: #222;
}

h1 {
  font-size: 32px
}


header {

  background: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  h1 {}

  .status {

    background: white;
    border-radius: 5px;
    padding: 5px;

    &>span {

      background: black;
      border-radius: 5px;
      padding: 2px;

    }

    .tries {
      margin-right: 5px;
    }
  }
}

main {

  display: grid;
  margin: 40px auto;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  min-width: 350px;
  max-width: 350px;

  min-height: 500px;
  max-height: 500px;
  gap: 10px;

  .block {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;

    &.flip {
      transform: rotateY(180deg);
    }

    .front,
    .back {
      position: absolute;
      unset: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      background: #eee;
      border-radius: 6px;
    }

    .front {
      border: 3px solid #aaa;
      transform: rotateY(180deg);
    }
    .back {

    }
  }

}


